<header class="background-color flex justify-between p-18-20 index-1 relative mr-auto" style="max-width: 1200px;">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="flex justify-center items-center">
    <img src="assets/images/logo.svg" alt="logo" style="margin-right: 50px;">
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline">Pricing</a>
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline">Courses</a>
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline">Blog</a>
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline">Forum</a>
  </div>
  <div class="flex items-center">
    <a href="" class="text-white p-8-20 m-r-10 font-lato no-underline">Login</a>
    <button class="p-8-20 font-lato button-signup">SIGN UP</button>
  </div>
</header>

<section class="img-background">
  <video loop="loop" autoplay="autoplay" playsinline muted="muted" class="w-full h-full object-cover absolute"
    style="min-height: 689px; top: -79px;" src="assets/video/galaxy-background.mp4">
  </video>
  <div style="max-width: 1200px; padding: 0;" class="mr-auto">
    <div class="relative mr-auto" style="max-width: 538px; z-index: 1;  ">
      <h1 style=" color:white" class="text-36 text-60">Turbocharge your <span style="color: #90CAC7;">development career</span> </h1>
      <p style="color:white; size: 20px; max-width: 400px;">Chris Courses provides students and professionals a college-level web development education.</p>
      <button class="button-getstarted">Get started</button>
    </div>
  </div>
</section>
<!--Display Properties - (block, inline, inline-block, none, flex)-->
