<header class="background-color flex justify-between p-18-20">
  <div class="flex justify-center items-center">
    <img src="assets/images/logo.svg" alt="logo" style="margin-right: 50px;">
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline" >Pricing</a>
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline" >Courses</a>
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline" >Blog</a>
    <a href="" class="text-white block p-8-20 m-r-10 font-lato no-underline" >Forum</a>
  </div>
  <div class="flex items-center">
    <a href="" class="text-white p-8-20 m-r-10 font-lato no-underline">Login</a>
    <button class="p-8-20 font-lato button-signup">SIGN UP</button>
  </div>

</header>

<section class="img-background">
  <img src="assets/images/background-site.png" alt="">
</section>
<!--Display Properties - (block, inline, inline-block, none, flex)-->
