<header class="background-color flex">
  <div class="flex justify-center items-center">
    <img src="assets/images/logo.svg" alt="logo">
    <a href="" class="text-white block" cla>Pricing</a>
    <a href="" class="text-white block" >Courses</a>
    <a href="" class="text-white block" >Blog</a>
    <a href="" class="text-white block" >Forum</a>
  </div>
  <div class="flex items-center">
    <a href="" class="text-white">Login</a>
    <button>Sign Up</button>
  </div>

</header>

<!--Display Properties - (block, inline, inline-block, none, flex)-->
