<div class="header">

  <h1>Notify</h1>
  <img src="/assets/papel.svg" alt="paper">

</div>

<div class="radio-center">
  <input type="radio" class="radio" name="slide"  />
  <input type="radio" class="radio" name="slide" checked/>
  <input type="radio" class="radio" name="slide" />
</div>

<div class="body">
  <h1>Create Your Notes Easily</h1>
  <p>
    Easily create and organize your notes with our user-friendly app, streamlining your note-taking process.
  </p>
  <button>Get started</button>
</div>
