<header class="header-style">

  <div class="display-flex items-center">

    <img src="./assets/logo.svg" style="margin-right: 20px;" alt="">
    <a href="" class="menu-option-style">Pricing</a>
    <a href="" class="menu-option-style">Courses</a>
    <a href="" class="menu-option-style">Blog</a>
    <a href="" class="menu-option-style">Forum</a>
  </div>

  <div class="display-flex items-center">
    <a href="" class="menu-option-style">Login</a>
    <button class="lato-regular sign-button">SIGN UP</button>

    <img src="./assets/logo.svg" style="margin-right: 50px; margin-left: 50px;" alt="">
    <a href="" class="style-menu">Pricing</a>
    <a href="" class="style-menu">Courses</a>
    <a href="" class="style-menu">Blog</a>
    <a href="" class="style-menu">Forum</a>
  </div>

  <div class="display-flex items-center" style="margin-right: 50px">
    <a href="" class="style-menu">Login</a>
    <button>Sing up</button>

  </div>

</header>

<ion-content [fullscreen]="true">

</ion-content>


<!-- 1h54min, aula -->


