<header class="header-style">

  <div class="display-flex items-center">
    <img src="./assets/logo.svg" style="margin-right: 20px;" alt="">
    <a href="" class="text-white m-y5-x20">Pricing</a>
    <a href="" class="text-white m-y5-x20">Courses</a>
    <a href="" class="text-white m-y5-x20">Blog</a>
    <a href="" class="text-white m-y5-x20">Forum</a>
  </div>

  <div class="display-flex items-center">
    <a href="" class="text-white m-y5-x20">Login</a>
    <button>Sing up</button>
  </div>
  
</header>

<ion-content [fullscreen]="true">
 
</ion-content>

 <!-- 1h00min, aula -->