body{
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.header-style{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  // background:#0B0338;
  z-index: 1;
}

.style-menu{
  padding: 10px 20px;
  color: white;
}

.display-block{
  display: block;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.display-flex{
  display: flex;
}


.menu-option-style{
  margin: 5px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-decoration: none; //retirar o underline
}

.lato-regular{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sign-button{
  padding: 12px 28px;
  background-color: #539D98;
  border-radius: 56px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  // font-size: medium;
}

.style-img-home{
  position: relative; //para poder mover o elemento nos eixos X, Y e Z
  top: -85px;
  object-fit: cover;
  // min-height: 550px;
}

.w-full{
  width: 100%;
}
